---
import Layout from "../layouts/Layout.astro";
import Iceland from "../components/Iceland.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Iceland />
	</main>
</Layout>

<style>
	:global(.card) {
		margin: 1rem;
	}
</style>
